<ul>
  <li><%= link_to "Call4Me", '#' %></li>
  <li><%= fa_icon "life-ring" %></li>
  <li><%= link_to "© DIVAVEO 2015", '#' %></li>
  <li><%= fa_icon "life-ring" %></li>
  <li><%= link_to "Mentions légales", '#' %></li>
  <li><%= fa_icon "life-ring" %></li>
  <li><%= link_to "Contact", '#' %></li>
</ul>
