<nav class="topbar">
  <ul class="nav-left">
    <li><%= link_to_stack_icon('', root_path, class: "icon-link-logo", icon: "hand-spock-o") %></li>
    <li><%= display_link_company %></li>
  </ul>

  <ul class="nav-middle">
    <% if current_user %>
      <li><%= link_to t('menu.cabinets'), company_users_path(current_company, role: "cabinet") %></li>
      <li><%= link_to t('menu.patients'), company_patients_path(current_company) %></li>
    <% end %>
    <li><%= render 'agendas/search_form' %></li>
  </ul>

  <ul class="nav-right">
    <li><a href="#">
      <%= fa_icon "clock-o" %>
      <span id="timer"></span>
    </a></li>
    <li>
      <%= display_notification_stack("bell", "4") %>
    </li>
    <li>
      <%= display_notification_stack("envelope", "2") %>
    </li>
    <li>
      <%= display_icon_connexion %>
    </li>
  </ul>
</nav>
