<tr>
  <td class="bold"><%= user.cabinet_detail.name %></td>
  <td><%= user.email %></td>
  <td><%= user.longname %></td>
  <td><%= user.cabinet_detail.tel %></td>

  <!-- Actions Links -->
  <td><%= link_to_stack_icon '',
          company_user_path(current_company, user),
          icon: "search", class: "icon-action show" %>
  </td>
  <td><%= link_to_stack_icon '',
          edit_company_user_path(current_company, user),
          icon: "pencil", class: "icon-action edit" %>
  </td>
  <td><%= link_to_stack_icon '',
          company_user_path(current_company, user),
          method: :delete,
          data: {confirm: t('form.confirm')},
          icon: "times", class: "icon-action destroy" %>
  </td>
  <td><%= link_to_stack_icon '',
          '#',
          icon: "calendar", class: "icon-action info" %>
  </td>
  <!-- End actions links -->
</tr>

