<%= simple_form_for [@agenda, @event], remote: true do |f| %>
  <%= f.association :patient, label_method: :longname, prompt: t('simple_form.prompts.event.patient') %>

  <% if @event.new_record? %>
    <%= f.input :start_at, default: @date_ref %>
    <%= f.input :end_at, default: @date_ref+@agenda.step.minutes %>
  <% else %>
    <%= f.input :start_at %>
    <%= f.input :end_at %>
  <% end %>

  <%= hidden_field_tag :set_date, @date_ref %>

  <%= f.button :submit %>

  <% unless @event.new_record? %>
    <p><%= button_to t('event.delete'), '#', class: "btn--alert" %></p>
  <% end %>
<% end %>


