<%= simple_form_for [@agenda, @event] do |f| %>
  <%= f.association :patient, label_method: :longname, prompt: t('simple_form.prompts.event.patient') %>

  <% if @event.new_record? %>
    <%= f.input :start_at, default: @date_ref %>
    <%= f.input :end_at, default: @date_ref+@agenda.step.minutes %>
  <% else %>
    <%= f.input :start_at %>
    <%= f.input :end_at %>
  <% end %>

  <%= hidden_field_tag :set_date, @date_ref %>

  <% if request.referrer =~ /show_day/ %>
    <%= hidden_field_tag :view_action, "day" %>
  <% else %>
    <%= hidden_field_tag :view_action, "week" %>
  <% end %>

  <%= f.button :submit %>

  <% unless @event.new_record? %>
    <p><%= link_to t('event.delete'), agenda_event_path(@agenda, @event), method: :delete, class: "btn--alert" %></p>
    <p><%= link_to t('event.show'), agenda_event_path(@agenda, @event), class: "btn--primary" %></p>
  <% end %>

<% end %>






