<%= simple_form_for [@agenda, @event], remote: true do |f| %>
  <%= f.association :patient, label_method: :longname, prompt: t('simple_form.prompts.event.patient') %>

  <%= f.input :duration,
      as: :range,
      input_html: {step: @agenda.step,
                   min: @agenda.step,
                   max: @agenda.step*6,
                   list: "durations",
                   value: selected_duration(@event)} %>

  <%= build_datalist(id: "durations", agenda: @agenda) %>

  <% if @event.new_record? %>
    <%= f.input :start_at, as: :hidden, input_html: {value: @date_ref} %>
  <% else %>
    <%= f.input :start_at %>
  <% end %>

  <%= f.button :submit %>

  <% unless @event.new_record? %>
    <p><%= button_to t('event.delete'), '#', class: "btn--alert" %></p>
  <% end %>
<% end %>


