<!DOCTYPE html>
<html>
<head>
  <%= render 'includes/head' %>
</head>
<body>

  <header>
    <%= render "includes/navbar" %>
  </header>

  <%= render "includes/flashes" %>

  <div class="wrapper">

    <section class="main-content">
      <%= display_title %>
      <%= display_subtitle %>
      <%= yield %>
    </section>

    <section class="offcanvas" id="offcanvas">
      <%= render 'includes/offcanvas' %>
    </section>

  </div>

  <footer>
    <%= render 'includes/footer' %>
  </footer>

</body>
</html>
