<!DOCTYPE html>
<html>
<head>
  <%= render 'includes/head' %>
</head>
<body>

  <%= render "includes/flashes" %>

  <div class="wrapper">

    <section class="main-content">
      <%= display_title unless params[:controller] == "sessions" %>
      <%= yield %>
    </section>

  </div>

  <footer>
    <%= render 'includes/footer' %>
  </footer>

</body>
</html>
